PORT=8080
NODE_ENV = # production - development
URI_Mongo_DB = "url de mongo"
NAME_DB = "nombre que tiene la base de datos"
CALLBACK_URL= "callback url"
CLOUD_NAME = "name de cloud de cloudinary"
API_KEY = "api key de cloudinary"
API_SECRET = "api secret de cloudinary"
JWT_SECRET_KEY = "clave privada del JWT"
PASS_EMAIL = "password de configuracion para el envio de correos"
USER_EMAIL = "email de configuracion para el envio de correos"
URL_RESET_PASS = "url del reset de password"
MP_ACCESS_TOKEN = "token de mercado pago"