<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' type='text/css' href='./css/chat.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <title>Chat</title>
</head>

<body>
    <header>
        <div class='container'>
            <div class='logo'>
                <h1>Chat en vivo</h1>
            </div>
            <nav>
                <ul class='right-links'>
                    <li><a href='/'>Inicio</a></li>
                    <li><a href='/products'>Productos</a></li>
                    <li><a href='/real-time-products'>Productos en Vivo</a></li>
                </ul>
            </nav>
        </div>
    </header>

<div class="chat-container">
    <h1>Bienvenidos al Chat</h1>
    <div class="chat">
        <p id="messageLogs"></p>
        <input id="chatBox" placeholder="Presionar Enter">
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/chat.js'></script>
</body>

</html>