    <header>
        <div class='container'>
            <div class='logo'>
                <h1>Santiago Guiñazu</h1>
            </div>
            <nav>
                <ul class='right-links'>
                    <li><a href='/'>Inicio</a></li>
                    <li><a href='/products'>Productos</a></li>
                    <li><a href='/real-time-products'>Productos en Vivo</a></li>
                    <li><a href='/chat'>Chat</a></li>
                    <li><a href='/cart/6564dd610d0a746ad94c8baa'>Carrito</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>