<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class='container'>
            <div class='logo'>
                <h1>Profile</h1>
            </div>
            <nav>
                <ul class='right-links'>
                    <li><a href='/products'>Productos</a></li>
                    <li><a href='/real-time-products'>Productos en Vivo</a></li>
                    <li><a href='/chat'>Chat</a></li>
                    <li><a href='/cart/6564dd610d0a746ad94c8baa'>Carrito</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <h1>Profile</h1>

    First Name: {{ first_name }} <br>
    Last Name: {{ last_name }} <br>
    Age: {{ age }} <br>
    Email: {{ email }} <br>

    <br>



    <a href="/api/session/logout">Logout</a>
</body>

</html>