<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/login.css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <title>Document</title>
</head>

<body>
    <header>
        <div class='container'>
            <div class='logo'>
                <h1>Register</h1>
            </div>
            <nav>
                <ul class='right-links'>
                    {{#if user}}
                    <li><p>Bienvenido, {{user.email}}</p></li>
                    <li><a href='/'>Inicio</a></li>
                    <li><a href='/products'>Productos</a></li>
                    <li><a href='/real-time-products'>Productos en Vivo</a></li>
                    <li><a href='/chat'>Chat</a></li>
                    <li><a href='/cart/6564dd610d0a746ad94c8baa'>Carrito</a></li>
                    <li><a href="/logout">Cerrar Sesion</a></li>
                    {{else}}
                    <li><a href='/'>Inicio</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </header>

    <div class="register-container">
        <form action="/register" method="post">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" autocomplete="off" required>
            
            <label for="lastName">Apellido:</label>
            <input type="text" id="lastName" name="lastName" autocomplete="off" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" autocomplete="off" required>

            <label for="age">Edad:</label>
            <input type="number" id="age" name="age" autocomplete="off">

            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirmPassword">Repetir contraseña:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <button type="submit">Registrarse</button>
        </form>
        <p>¿Ya tienes una cuenta? <a href="/login">Inicia Sesion</a></p>
    </div>

</body>

</html>