/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 15px;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex-grow: 1;
}

.right-links {
    display: flex;
}

.right-links li {
    margin-left: 10px;
}

.right-links a {
    color: #fff;
    text-decoration: none;
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none;
}

.chat-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#chatBox {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  #messageLogs {
    max-width: 600px;
    margin: 20px auto; /* Ajusta el margen según tus preferencias */
  }

.isCurrentUser, 
.my-message {
    text-align: right;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
  }

.other-message {
    text-align: left;
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
  }