/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 25px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    flex-grow: 1;
}

.right-links {
    display: flex;
    align-items: center;
}

.right-links li {
    margin-left: 10px;
}

.right-links p {
    margin-bottom: 0;
}

.right-links a {
    color: #fff;
    text-decoration: none;
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none;
}

.container-products h3{
    margin-top: 15px;
}

.container-products a{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

/*tabla de productos*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th {
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

td img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/*pagination*/

.pagination {
    margin-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pagination a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    background-color: darkslategrey;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.pagination a:hover {
    background-color: #555;
}

.cart-icon {
    color: #3498db;
    font-size: 24px;
    margin-right: 8px;
}

p {
    margin: 0;
    color: #666;
}
