<header>
    <div class="header-container">
        <nav>
            {{#if isAuthenticated}}
            <p>Bienvenido, {{user}}</p>
            <a href="/logout">Cerrar Sesion</a>
            {{else}}
            <a href="/login">Iniciar Sesion</a>
            <a href="/register">Registrarse</a>
            {{/if}}
        </nav>
    </div>
</header>
